@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

:root {
  --main-color: #d3ad7f;
  --black: #13131a;
  --bg: #010103;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-transform: capitalize;
  text-decoration: none;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 0.5rem;
}

body {
  background: var(--bg);
}
.active{
    right: 0 !important;  
    }
  

section {
  padding: 2rem 7%;
}


.heading{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}


.heading span{
    color: var(--main-color);
    text-transform: uppercase;
}


.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.9rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background: var(--main-color);
  cursor: pointer;
}

.btn:hover {
  letter-spacing: 0.2rem;
}

.header {
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;
  border-bottom: var(--border);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header .logo img {
  height: 6rem;
}

.header .navbar a {
  margin: 0 1rem;
  font-size: 1.6rem;
  color: #fff;
}

.header .navbar a:hover {
  color: var(--main-color);
  border-bottom: 0.1rem solid var(--main-color);
  padding-bottom: 0.5rem;
}

.header .icons div {
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
}

.header .icons div:hover {
  color: var(--main-color);
}

#menu-btn {
  display: none;
}

.header .search-form {
  position: absolute;
  top: 115%;
  right: 7%;
  background: #fff;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  /*  */
transition: .5s all ease-in-out;
  transform: scaleY(0);
  transform-origin: top;
}
.actives {
  transform: scaleY(1) !important;
}

.header .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--black);
  padding: 1rem;
  text-transform: none;
}

.header .cart-items-container {
  position: absolute;
  top: 100%;
  right: 0;
  height: calc(100vh - 9.5rem);
  width: 35rem;
  background: #fff;
  padding: 0 1.5rem;
}

.header .cart-items-container .cart-item {
  position: relative;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header .cart-items-container .cart-item .fa.times {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.header .search-form label {
  cursor: pointer;
  font-size: 2.2rem;
  margin-right: 1.5rem;
  color: var(--black);
}

.header .search-form label:hover {
  color: var(--main-color);
}

.header .cart-items-container {
  position: absolute;
  top: 100%;
  right: -100%;

  height: calc(100vh - 9.5rem);
  width: 35rem;
  background: #fff;
  padding: 0 1.5rem;
  transition: 1S all ease-in;
}

.header .cart-items-container .cart-item {
  position: relative;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header .cart-items-container .cart-item .fa.times {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  color: var(--black);
}

.header .cart-items-container .cart-item .fa.times:hover {
  color: var(--main-color);
}

.header .cart-items-container .cart-item img {
  height: 7rem;
}

.header .cart-items-container .cart-item .content .h3 {
  font-size: 2rem;
  color: var(--black);
  padding-bottom: 0.5rem;
}
.header .cart-items-container .cart-item .content .price {
  font-size: 1.5rem;
  color: var(--main-color);
}

.header .cart-items-container .btn {
  width: 100%;
  text-align: center;
}

/* header responsive */



  /*  */
/*  */

/* home section */

.home{
min-height: 100vh;
display: flex;
align-items: center;
background: url(../image/download.jpg) no-repeat;
background-size: cover;
background-position: center;
}

.home .content{
    max-width: 60rem;
    
}

.home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;
}


.home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;
}



.home .content p{
    font-size: 2rem;
   font-weight: lighter;
   line-height: 1.8;
   padding: 1rem 0;
    color: #eee;
}




.about .row{
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;
}

.about .row .image{
    flex: 1 1 45rem;

}


.about .row .image img{
    width: 100%;
    
}


.about .row .content{
    flex: 1 1 45rem;
    
}

.about .row .content{
    flex: 1 1 45rem;
    padding: 2rem;
    
}

.about .row .content h3{
  font-size: 3rem;
  color:#fff;
     
}


.about .row .content p{
    font-size: 1.6rem;
    color:#ccc;
    padding: 1rem 0;
    line-height: 1.8rem;
       
  }













/* 991 */
@media screen and (max-width: 991px) {
    html {
      font-size: 55% !important;
    }
  
    .header {
      padding: 1.5rem 2rem !important;
    }
    section {
      padding: 2rem ;
    }
  }
  
  /* 768 */
  @media screen and (max-width: 768px) {
    #menu-btn {
      display: inline-block !important;
    }
  
    .header .navbar {
      position: absolute !important;
      top: 100% !important;
      right: -100%;
      background: #fff !important;
      width: 30rem !important;
      height: calc(100vh - 9.5rem) !important;
      transition: 1s all ease-in-out;
    }
     .active{
    right: 0 !important;  
    }
  
    .header .navbar .new-style {
      color: var(--black) !important;
      display: block !important;
      margin: 1.5rem !important;
  
      padding: 0.5rem !important;
      font-size: 2rem !important;
    }
  
    .header .search-form {
    width: 90%
    ;right: 2rem;
  }
  .home{
    background-position: left;
    justify-content: center;
  }
  .home .content h3{
  font-size: 4.5rem;
  }
  .home .content p{
    font-size: 1.5rem;
    }










  }
  
  /* 450 */
  @media screen and (max-width: 450px) {
      html {
        font-size: 50% !important;
      }
    
    
    }
  